<html>
  <head>
    <style>
    </style>
  </head>
  <body style="font-size: 14px; padding: 200px 16px; background-color: #282928; color: #cdd1cd;">
    <div style="width: 100%; max-width: 496px; margin: 0 auto; background: #3b3d3b; border-radius: 8px; padding: 40px 32px;">
      <img src="cid:logo" alt="logo" style="display: block; margin: 0 auto 40px; text-align: center" />
      <h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 600; line-height: 110%; letter-spacing: -0.2px; color: #fff; text-align: center;">Redefina sua senha</h3>
      <hr style="border: none; border-top: 1px solid #545754; margin: 20px 0 32px;" />
      <strong style="font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 600; line-height: 140%; color: #fff;">Olá, {{name}}!</strong>
      <p style="font-family: 'Roboto', sans-serif; margin: 16px 0 40px; line-height: 145%;">
        Precisa mudar sua senha? Sem problema! É só clicar no botão abaixo que
        vai direto para página de redefinição. Se você não fez esta solicitação
        ignore esse email.
      </p>
      <a href="{{link}}" style="font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 500; text-align: center; color: #fff; width: 100%; display: block; padding: 18px 0; background: #267233; border-radius: 8px; text-decoration: none;">Mudar minha senha</a>
    </div>
  </body>
</html>
